<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<div id="element-edit-container" class="category-content">
    <?php echo $this->getChildHtml('form') ?>
</div>
<script type="text/javascript">
//<![CDATA[

function elementReset(url, useAjax) {
    if (useAjax) {
        var params = {active_tab_id: false};
        updateContent(url, params);
    } else {
        location.href = url;
    }
}

function elementDelete(url, useAjax, elementId) {
    if (confirm('<?php echo Mage::helper('poebel_cmsnavigation')->__('Are you sure you want to delete this element?') ?>')) {
        if (useAjax) {
            tree.nodeForDelete = elementId;
            updateContent(url, {}, true);
        } else {
            location.href = url;
        }
    }
}

/**
 * Update element content area
 */
function updateContent(url, params, refreshTree) {
    if (!params) {
        params = {};
    }
    if (!params.form_key) {
        params.form_key = FORM_KEY;
    }

    toolbarToggle.stop();

    var elementContainer = $('element-edit-container');
    var messagesContainer = $('messages');
    var thisObj = this;
    new Ajax.Request(url + (url.match(new RegExp('\\?')) ? '&isAjax=true' : '?isAjax=true' ), {
        parameters:  params,
        evalScripts: true,
        onComplete:  function () {
            setTimeout(function () {
                try {
                    if (refreshTree) {
                        thisObj.refreshTreeArea();
                    }
                    toolbarToggle.start();
                } catch (e) {
                    alert(e.message);
                }
                ;
            }, 25);
        },
        onSuccess:   function (transport) {
            try {
                if (transport.responseText.isJSON()) {
                    var response = transport.responseText.evalJSON();
                    var needUpdate = true;
                    if (response.error) {
                        alert(response.message);
                        needUpdate = false;
                    }
                    if (response.ajaxExpired && response.ajaxRedirect) {
                        setLocation(response.ajaxRedirect);
                        needUpdate = false;
                    }
                    if (needUpdate) {
                        if (response.content) {
                            $(elementContainer).update(response.content);
                        }
                        if (response.messages) {
                            $(messagesContainer).update(response.messages);
                        }
                    }
                } else {
                    $(elementContainer).update(transport.responseText);
                }
            } catch (e) {
                $(elementContainer).update(transport.responseText);
            }
        }
    });
}

function refreshTreeArea(transport) {
    if (tree && window.editingElementBreadcrumbs) {
        // category deleted - delete its node
        if (tree.nodeForDelete) {
            var node = tree.getNodeById(tree.nodeForDelete);
            tree.nodeForDelete = false;

            if (node) { // Check maybe tree became somehow not synced with ajax and we're trying to delete unknown node
                node.parentNode.removeChild(node);
                tree.currentNodeId = false;
            }
        }
        // category created - add its node
        else if (tree.addNodeTo) {
            var parent = tree.getNodeById(tree.addNodeTo);
            tree.addNodeTo = false;

            if (parent) { // Check maybe tree became somehow not synced with ajax and we're trying to add to unknown node
                var node = new Ext.tree.AsyncTreeNode(editingElementBreadcrumbs[editingElementBreadcrumbs.length - 1]);
                node.loaded = true;
                tree.currentNodeId = node.id;
                parent.appendChild(node);

                if (parent.expanded) {
                    tree.selectCurrentNode();
                } else {
                    var timer;
                    parent.expand();
                    var f = function () {
                        if (parent.expanded) { // done expanding
                            clearInterval(timer);
                            tree.selectCurrentNode();
                        }
                    };
                    timer = setInterval(f, 200);
                }
            }
        }

        // update all affected categories nodes names
        for (var i = 0; i < editingElementBreadcrumbs.length; i++) {
            var node = tree.getNodeById(editingElementBreadcrumbs[i].id);
            if (node) {
                node.setText(editingElementBreadcrumbs[i].text);
            }
        }
    }
}

function displayLoadingMask() {
    var loaderArea = $$('#html-body .wrapper')[0]; // Blocks all page
    Position.clone($(loaderArea), $('loading-mask'), {offsetLeft: -2});
    toggleSelectsUnderBlock($('loading-mask'), false);
    Element.show('loading-mask');
}

function openChooser(targetElementId, type, title) {
    var chooserUrl = "<?php echo $this->getUrl('*/*/chooser', array('uniq_id' => 'TARGET_ELEMENT_ID', 'type' => 'CHOOSER_TYPE')) ?>";
    chooserUrl = chooserUrl.replace("TARGET_ELEMENT_ID", targetElementId);
    chooserUrl = chooserUrl.replace("CHOOSER_TYPE", type);
    chooser.openDialog(chooserUrl, title);
}

var chooser = {
    getDivHtml: function(id, html) {
        if (!html) html = '';
        return '<div id="' + id + '">' + html + '</div>';
    },

    onAjaxSuccess: function(transport) {
        if (transport.responseText.isJSON()) {
            var response = transport.responseText.evalJSON()
            if (response.error) {
                throw response;
            } else if (response.ajaxExpired && response.ajaxRedirect) {
                setLocation(response.ajaxRedirect);
            }
        }
    },

    openDialog: function(widgetUrl, title) {
        if ($('widget_window') && typeof(Windows) != 'undefined') {
            Windows.focus('widget_window');
            return;
        }
        this.dialogWindow = Dialog.info(null, {
            draggable:true,
            resizable:false,
            closable:true,
            className:'magento',
            windowClassName:"popup-window",
            title:title,
            top:50,
            width:950,
            height:500,
            zIndex:1000,
            recenterAuto:false,
            hideEffect:Element.hide,
            showEffect:Element.show,
            id:'widget-chooser',
            onClose: this.closeDialog.bind(this)
        });
        new Ajax.Updater('modal_dialog_message', widgetUrl, {evalScripts: true});
    },

    closeDialog: function(window) {
        if (!window) {
            window = this.dialogWindow;
        }
        if (window) {
            // IE fix - hidden form select fields after closing dialog
            WindowUtilities._showSelect();
            window.close();
        }
    }
}
//]]>
</script>
