<?php
/**
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 */
?>
<div class="content-header">
        <h3 class="icon-head head-categories"><?php echo $this->escapeHtml($this->getHeader()) . ($this->getElementId() ? ' (' . Mage::helper('poebel_cmsnavigation')->__('ID: %s', $this->getElementId()) . ')' : '') ?></h3>
        <p class="content-buttons form-buttons">
            <?php echo $this->getResetButtonHtml() ?>
            <?php if($this->getElementId()): ?>
                <?php echo $this->getDeleteButtonHtml() ?>
            <?php endif; ?>
            <?php echo $this->getAdditionalButtonsHtml(); ?>
            <?php echo $this->getSaveButtonHtml() ?>
        </p>
</div>
<?php if($this->hasStoreRootElement()): ?>
    <?php echo $this->getTabsHtml() ?>
<?php else: ?>
    <div class="messages warning-msg">
    <?php echo Mage::helper('poebel_cmsnavigation')->__('Set root element for this store in the <a href="%s">configuration</a>', $this->getStoreConfigurationUrl()) ?>
</div>
<?php endif; ?>
<iframe name="iframeSave" style="display:none; width:100%;" src="<?php echo $this->getJsUrl() ?>blank.html"></iframe>
<form target="iframeSave" id="element_edit_form" action="<?php echo $this->getSaveUrl() ?>" method="post" enctype="multipart/form-data">
    <div class="no-display">
        <input type="hidden" name="isIframe" value="1" />
        <input name="form_key" type="hidden" value="<?php echo $this->getFormKey() ?>" />
        <input type="hidden" name="active_tab_id" id="active_tab_id" value="" />
    </div>
    <div id="element_tab_content"></div>
</form>
<script type="text/javascript">
//<![CDATA[
elementForm = new varienForm('element_edit_form');

elementForm.submit= function (url) {
    this.errorSections = $H({});
    this.canShowError = true;
    this.submitUrl = url;
    if (this.validator && this.validator.validate()) {
        if(this.validationUrl){
            this._validate();
        }
        else{
            if (this.isSubmitted) {
                return false;
            }
            this.isSubmitted = true;
            this._submit();
        }
        displayLoadingMask();
        return true;
    }
    return false;
};

elementForm.refreshPath = function () {

    elementId = this.getElementId();

    if (!elementId) {
        return false;
    }

    var refreshPathSuccess = function(transport) {
        if (transport.responseText.isJSON()) {
            response = transport.responseText.evalJSON()
            if (response.error) {
                alert(response.message);
            } else {
                if (elementForm.getElementId() == response['id']) {
                    elementForm.setElementPath(response['path']);
                }
            }
        }
    };

    new Ajax.Request(
        '<?php echo $this->getRefreshPathUrl() ?>',
        {
            method:     'POST',
            evalScripts: true,
            onSuccess: refreshPathSuccess
        }
    );

};

elementForm.getElementId = function () {
    collection = $(this.formId).getInputs('hidden','general[id]');
    if (collection.size() > 0) {
        return collection.first().value;
    }
    return false;
};

elementForm.setElementPath = function (path) {
    collection = $(this.formId).getInputs('hidden','general[path]');
    if (collection.size() > 0) {
        return collection.first().value = path;
    }
};

function elementSubmit(url, useAjax) {
    var activeTab = $('active_tab_id');
    if (activeTab) {
        if (activeTab.tabsJsObject && activeTab.tabsJsObject.activeTab) {
            activeTab.value = activeTab.tabsJsObject.activeTab.id;
        }
    }

    var params = {};
    var fields = $('element_edit_form').getElementsBySelector('input', 'select');
    for(var i=0;i<fields.length;i++){
        if (!fields[i].name) {
            continue;
        }
        params[fields[i].name] = fields[i].getValue();
    }

    // Get info about what we're submitting - to properly update tree nodes
    var elementId = params['general[id]'] ? params['general[id]'] : 0;
    var isCreating = elementId == 0; // Separate variable is needed because '0' in javascript converts to TRUE
    var path = params['general[path]'].split('/');
    var parentId = path.pop();
    if (parentId == elementId) { // Maybe path includes category id itself
        parentId = path.pop();
    }

    // Make operations with category tree
    if (isCreating) {
        /* Some specific tasks for creating category */
        if (!tree.currentNodeId) {
            // First submit of form - select some node to be current
            tree.currentNodeId = parentId;
        }
        tree.addNodeTo = parentId;
    } else {
        /* Some specific tasks for editing category */
        // Maybe change category enabled/disabled style
        if (tree && tree.storeId==0) {
            var currentNode = tree.getNodeById(elementId);

            if (currentNode) {
                if (parseInt(params['general[is_active]'])) {
                    var oldClass = 'no-active-category';
                    var newClass = 'active-category';
                } else {
                    var oldClass = 'active-category';
                    var newClass = 'no-active-category';
                }

                Element.removeClassName(currentNode.ui.wrap.firstChild, oldClass);
                Element.addClassName(currentNode.ui.wrap.firstChild, newClass);
            }
        }
    }

    // Submit form
    elementForm.submit();
}

<?php if($this->isAjax() && ($block = $this->getLayout()->getBlock('tabs')) && ($_tabsJsObject=$block->getJsObjectName())): ?>
<?php echo $_tabsJsObject ?>.moveTabContentInDest();
if (<?php echo $_tabsJsObject ?>.activeTab) {
    $('active_tab_id').value = <?php echo $_tabsJsObject ?>.activeTab.id;
}
$('active_tab_id').tabsJsObject = <?php echo $_tabsJsObject ?>;
<?php endif; ?>
//]]>
</script>
